.profileContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.profileCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vh;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.profilePic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

.infoCards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.card {
    margin: 10px 0;
    padding: 10px;
    background-color: #ece5dc;
    color: #a53b39;
    border-radius: 5px;
    width: 100%;
    text-align: center;
}